<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Postgres" connectionString="Host=localhost;Database=Canteen;Username=postgres;Password=123;" providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="MidtransServerKey" value="SB-Mid-server-fvAzVMgnvGiHJsOt3QX93_G8" />
		<add key="MidtransBaseUrl" value="https://api.sandbox.midtrans.com/v2/charge" />
	</appSettings>
</configuration>